html, body {
  margin: 0;
  padding: 0;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}

#title {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

#instructions {
  text-align: center;
  font-size: 18px;
}

canvas {
  display: block;
}
